.plan {
  margin-bottom: 100px;

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }
  }

  &__duration {
    border-radius: 20px;
    background-color: $grey-light;
    padding: 69px 53px;
    max-width: 569px;
    min-width: 480px;
    width: 100%;

    .plan__text {
      margin-bottom: 23px;
    }

    @media (max-width: 991px) {
      min-width: 0;
    }

    @media (max-width: 756px) {
      padding: 40px 30px;
    }

    @media (max-width: 567px) {
      padding: 20px 15px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 35px;
    line-height: 1.1;
    color: $dark;
    margin-bottom: 11px;
    max-width: 513px;

    @media (max-width: 756px) {
      font-size: 30px;
    }

    @media (max-width: 567px) {
      font-size: 25px;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 50px;
    line-height: 1.1;
    color: $dark;
    margin-bottom: 41px;

    span {
      font-weight: 800;
      font-size: 20px;
    }

    @media (max-width: 991px) {
      font-size: 45px;
    }

    @media (max-width: 756px) {
      font-size: 40px;
    }

    @media (max-width: 567px) {
      font-size: 35px;
    }
  }

  &__choice {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $dark;
    margin-bottom: 20px;
    position: relative;

    &--active {
      .plan__duration-list {
        top: 80px;
        opacity: 1;
        pointer-events: stroke;
      }

      .plan__placeholder-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__placeholder {
    cursor: pointer;
    padding: 25px 58px;
    border: 1px solid $grey-border;
    border-radius: 40px;

    @media (max-width: 567px) {
      padding: 25px 35px;
    }
  }

  &__placeholder-icon {
    position: absolute;
    top: 34px;
    right: 58px;
    font-size: 7px;
    transition: transform 0.1s ease-in-out;
  }

  &__duration-list {
    width: 100%;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 200px;
    opacity: 0;
    background-color: $grey-light;
    border: 1px solid $grey-border;
    padding: 25px 58px;
    border-radius: 40px;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;

    @media (max-width: 567px) {
      padding: 25px 35px;
    }
  }

  &__duration-item {
    cursor: pointer;
    padding: 15px 0;
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid $grey-border;
    }
  }

  &__button {
    background-color: $lilac;
    width: 100%;
    border: 1px solid transparent;

    &:hover {
      background-color: $white;
      border-color: $lilac;
      color: $lilac;
    }
  }

  &__features {
    max-width: 772px;

    .plan__title {
      font-size: 40px;

      @media (max-width: 756px) {
        font-size: 35px;
      }

      @media (max-width: 567px) {
        font-size: 30px;
      }
    }

    .plan__text {
      margin-bottom: 29px;
    }
  }

  &__item {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.25;
    color: $dark;
    padding-left: 32px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../img/icons/icons.svg#check");
      height: 13px;
      width: 15px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: 567px) {
      font-size: 20px;
    }
  }
}
