.careers-banner {
  margin-bottom: 170px;

  @media (max-width: 991px) {
    margin-bottom: 140px;
  }

  @media (max-width: 756px) {
    margin-bottom: 100px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }
}
