.blog-single-banner {
  margin-bottom: 117px;

  @media (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media (max-width: 756px) {
    margin-bottom: 80px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  .banner__title {
    max-width: 920px;
    margin: 0 auto 18px;
  }

  &__person {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: $white;

    @media (max-width: 756px) {
      row-gap: 20px;
      flex-wrap: wrap;
    }
  }

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  &__name {
    font-weight: 700;
    position: relative;
    margin-right: 44px;

    &::after {
      content: "";
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $white;
      border-radius: 50%;
    }
  }

  &__data {
    position: relative;
    margin-right: 44px;

    &::after {
      content: "";
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $white;
      border-radius: 50%;
    }
  }
}
