.connect {
  margin-bottom: 197px;

  @media (max-width: 991px) {
    margin-bottom: 137px;
  }

  @media (max-width: 756px) {
    margin-bottom: 100px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  &__container {
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 40px;
    }

    @media (max-width: 756px) {
      row-gap: 30px;
    }

    @media (max-width: 567px) {
      row-gap: 20px;
    }
  }

  &__content {
    max-width: 45%;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 31px;
  }

  &__text {
    margin-bottom: 31px;
  }

  &__image {
    max-width: 50%;
    width: 100%;
    position: relative;

    img {
      object-fit: contain;
      margin: 0 auto;
    }

    &::before {
      content: "";
      width: 72%;
      height: 19%;
      bottom: 15%;
      left: 9%;
      position: absolute;
      z-index: -1;
      background: $violet;
      opacity: 0.5;
      filter: blur(100px);
    }

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}
