.hero {
  .banner__wrapper {
    padding: 148px 0 138px;

    @media (max-width: 991px) {
      padding: 120px 0 0;
    }

    @media (max-width: 756px) {
      padding: 100px 0 0;
    }

    @media (max-width: 567px) {
      padding: 30px 0 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner__title {
    max-width: 1075px;
    margin-bottom: 15px;
  }

  .banner__text {
    margin-bottom: 44px;
    max-width: 700px;
  }

  &__button {
    background-color: $white;
    color: $dark;
    display: inline-block;
    margin-bottom: 57px;

    @media (max-width: 756px) {
      margin-bottom: 35px;
    }

    @media (max-width: 567px) {
      margin-bottom: 20px;
    }
  }

  &__image {
    max-width: 1400px;
    max-height: 551px;
    position: relative;

    img {
      object-fit: cover;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      opacity: 0.5;
      filter: blur(100px);
      bottom: -7%;
      z-index: -1;
    }

    &::before {
      left: 0;
      width: 63%;
      height: 14%;
      background: $blue;
    }

    &::after {
      background: $violet;
      opacity: 0.5;
      right: 0;
      width: 58%;
      height: 12%;
    }

    @media (max-width: 991px) {
      margin-bottom: -10%;
    }
  }
}
