.news {
  margin-bottom: 149px;

  @media (max-width: 991px) {
    padding: 0;
    margin-bottom: 130px;
  }

  @media (max-width: 756px) {
    margin-bottom: 100px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
    column-gap: 30px;

    @media (max-width: 756px) {
      flex-direction: column;
      row-gap: 40px;
      align-items: flex-start;
    }

    @media (max-width: 567px) {
      row-gap: 20px;
    }
  }

  &__text {
    max-width: 747px;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__link {
    min-width: max-content;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 40px;
    }
  }
}
