.news {
  margin-bottom: 149px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
  }

  &__text {
    max-width: 747px;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    flex-wrap: wrap;
  }
}

.article-news {
  max-width: 436px;
  width: 100%;

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    img {
      object-fit: contain;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba($color: $dark, $alpha: 0) 0%, $dark 100%);
      background-blend-mode: multiply;
      z-index: 1;
    }
  }

  &__tags {
    position: absolute;
    bottom: 20px;
    left: 22px;
    display: flex;
    column-gap: 15px;
    z-index: 2;
  }

  &__tag {
    background-color: $white;
    padding: 14px 45px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.27;
    color: $dark;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid $grey-border;
    margin-bottom: 18px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    color: $dark;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 17px;
  }

  &__link {
    color: $dark;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.45;
  }
}
