.working-process {
  margin-bottom: 200px;

  @media (max-width: 991px) {
    margin-bottom: 150px;
  }

  @media (max-width: 756px) {
    margin-bottom: 100px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  &__container {
    display: flex;
    align-items: center;
    column-gap: 50px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 50px;
    }
  }

  &__left {
    color: $white;
    max-width: 39%;
    padding: 95px 62px;
    background-image: url("../img/working-process-image.png");
    background-position: -75px -65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

    @media (max-width: 991px) {
      max-width: 100%;
      background-position: 0 -65px;
      background-size: cover;
    }

    @media (max-width: 756px) {
      max-width: 100%;
      background-position: 0 0;
    }

    @media (max-width: 567px) {
      padding: 30px 15px;
    }
  }

  &__title {
    color: $white;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 37px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    column-gap: 30px;

    @media (max-width: 567px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
    }
  }

  &__num {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.1;
    color: $dark;
    margin-bottom: 24px;
    display: block;

    &--blue {
      color: $blue;
    }

    @media (max-width: 991px) {
      font-size: 40px;
    }

    @media (max-width: 756px) {
      font-size: 35px;
    }

    @media (max-width: 567px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  &__item-title {
    color: $dark;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    max-width: 265px;
    margin-bottom: 11px;

    @media (max-width: 567px) {
      max-width: 100%;
      font-size: 25px;
    }
  }
}
