$body: #808080;
$lilac: #5956e9;
$violet: #db14f1;
$blue: #1b16ff;
$blue-light: #38d4ff;
$dark: #2f2f2f;
$dark-light: #424242;
$white: #fff;
$grey: #797979;
$grey-light: #f6f6f6;
$grey-border: #dcdcdc;
$green: #31c65b;
$pink: #ffd7e3;
$pink-light: #ffedfe;
