.investors {
  margin-bottom: 195px;

  @media (max-width: 991px) {
    margin-bottom: 150px;
  }

  @media (max-width: 756px) {
    margin-bottom: 110px;
  }

  @media (max-width: 567px) {
    margin-bottom: 70px;
  }

  .title {
    text-align: center;
    margin-bottom: 41px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 31px;

    @media (max-width: 756px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 567px) {
      gap: 20px;
    }
  }

  &__item {
    max-width: 685px;
    width: 100%;
    padding: 65px 79px;
    background-color: $grey-light;

    @media (max-width: 991px) {
      padding: 55px 69px;
    }

    @media (max-width: 756px) {
      padding: 45px 59px;
    }

    @media (max-width: 567px) {
      padding: 20px;
    }
  }

  &__logo {
    margin-bottom: 10px;
  }
}
